<nav class="navbar navbar-expand" id="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link navLink" href="/">🏡Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link navLink" href="/saved">📑Saved News</a>
        </li>
    </ul>
</nav>

<div class="articleContainer" style="margin-left: 400px">
    <div class="row">
<div class="col-9">
        <div class="col-1">
        </div>
        <div class="col-10 articleColumn">
            {{#each articles}}
                <div class="card">
                    <div class="card-header">
                        <a class="headlineLink" href={{link}} target="_blank">{{headline}}</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img class="articleImage" src={{photo}}>
                            </div>

                            <div class="col-10">
                                <p>{{summary}}</p>
                            </div>

                            <div class="col-2 buttonColumn">
                                <div class="row buttonRow">
                                    <div class="col-8">
                                          <button type="button" class="btn btn-primary deleteSavedArticleButton" data-id={{id}}>Remove Article✖️</button>
                                    </div>
                                </div>
                                <div class="row buttonRow">
                                    <div class="col-8">
                                          <button type="button" class="btn btn-primary addNoteButton" data-id={{id}} data-notes={{notes}}>Add Note➕</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>
</div>
        <div class="col-1">
        </div>

    </div>
</div>

<div class="modal fade" id="articleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title articleDeleteTitle" >Deleted!🛢</h5>
      </div>
      <div class="modal-body articleDeleteBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary deleteSavedArticleModalButton" id="deleteSavedArticleModalButton" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header noteModalHeader">
      </div>
      <div class="modal-body noteModalBody">
        
      </div>
      
      <div class='alertDiv'></div>
      <div class="modal-footer">
        <button class='saveNoteButton' style="color: rgb(167, 57, 167)">Save💾</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>